button{
    font-size: 2em;
    border-radius: 50px;
}

.key-primary{
    background: rgb(60, 173, 60);
    color: white;
    border-radius: 12px;
}

.key-clear{
    color: red;
}

.key-operator{    
    color: rgb(42, 187, 42);
}

.is-pressed{
    background-color: rgb(201, 184, 184);
}

@media screen and (min-width: 768px){
    button{
        font-size: 4.5em;
    }    
}