button{
    font-size: 20px;
    border-radius: 25px;
}

.key-primary{
    background: rgb(60, 173, 60);
    color: white;
    border-radius: 12px;
}

.key-clear{
    color: red;
}

.key-operator{    
    color: rgb(60, 173, 60);
}