.calculator{    
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    gap: 5px;
    margin: 2px;
    height: 99vh;
    border: black solid 2px;    
    
    &__display{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 5em;
        border-bottom: black solid 1px;
        background-color: white;
    }
    
    &__keys{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 5px;
    }
}

.key-equals{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

@media screen and (min-width: 768px){
    .calculator{ 
        //width: 100%;
        padding: 7vh;
        
        &__display{
            font-size: 10em;
        }

        &__keys{
            gap: 10px;
        }
    }    
}