.calculator{    
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    gap: 5px;
    margin: 2px;
    height: 99vh;
    background-color: rgb(100, 100, 100);  
    
    &__display{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 5em;
        border-bottom: black solid 1px;
        background-color: white;
    }
    
    &__keys{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 5px;
    }
}

.key-equals{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
}

@media screen and (min-width: 768px){
    .calculator{
        width: 40%;
        height: 50%;
        padding: 15px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        
        &__display{
            font-size: 5em;
        }

        &__keys{
            gap: 10px;
        }
    }    
}