.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
  gap: 5px;
  height: 100vh;
  border: black solid 2px;
}
.calculator__display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 5em;
  background-color: black;
  color: white;
}
.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.key-equals {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}

@media screen and (min-width: 768px) {
  .calculator {
    height: auto;
    width: auto;
  }
  .calculator__display {
    font-size: 10em;
  }
  .calculator__keys {
    gap: 10px;
  }
}
button {
  font-size: 2em;
  border-radius: 50px;
}

.key-primary {
  background: #3cad3c;
  color: white;
  border-radius: 12px;
}

.key-clear {
  color: red;
}

.key-operator {
  color: #2abb2a;
}

.is-pressed {
  background-color: #c9b8b8;
}

@media screen and (min-width: 768px) {
  button {
    font-size: 4.5em;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}