.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 1fr;
  gap: 5px;
  margin: 2px;
  height: 99vh;
  background-color: #646464;
}
.calculator__display {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 5em;
  border-bottom: black solid 1px;
  background-color: white;
}
.calculator__keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 5px;
}

.key-equals {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}

@media screen and (min-width: 768px) {
  .calculator {
    width: 40%;
    height: 50%;
    padding: 15px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .calculator__display {
    font-size: 5em;
  }
  .calculator__keys {
    gap: 10px;
  }
}
button {
  font-size: 2em;
  border-radius: 50px;
  border: #ada6a6 solid 1px;
}

.key-primary {
  background: #3cad3c;
  color: white;
  border-radius: 12px;
  border: #3cad3c solid 1px;
  font-size: 3em;
}

.key-clear {
  color: red;
}

.key-operator {
  color: #2abb2a;
  font-size: 2.5em;
}

.is-pressed {
  background-color: #c9b8b8;
}

@media screen and (min-width: 768px) {
  button {
    font-size: 2.5em;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #020024;
  background: linear-gradient(135deg, #020024 0%, #1d223e 25%, #b0afde 100%);
  height: 100vh;
}